pkgbase = brightnessctl
	pkgdesc = Lightweight brightness control tool
	pkgver = 0.5.1
	pkgrel = 2
	url = https://github.com/Hummer12007/brightnessctl
	arch = x86_64
	arch = arm
	license = MIT
	depends = systemd-libs
	source = brightnessctl-0.5.1.tar.gz::https://github.com/Hummer12007/brightnessctl/archive/0.5.1.tar.gz
	sha512sums = 41ac86357b3b5a3d54a043140a6bdb1fb68d5080a16e86692059ad58f4b9134a8532432a3f664c70c665a4ad73ea8a94cc9b88fa84abc28f0356b8b397aaebc7

pkgname = brightnessctl
